/dev/kgsl-3d0           0666 system graphics
/dev/genlock            0666 system graphics
/dev/msm_rotator 	0660 system graphics
/dev/rtc0		0666 system system
/dev/msm_pcm_dec* 	0666 system audio
/dev/snd/controlC0* 	0666 system audio
/dev/msm_aac* 		0660 system audio
/dev/amrnb* 		0660 system audio
/dev/amrwb* 		0660 system audio
/dev/msm_qcelp* 	0660 system audio
/dev/evrc* 		0660 system audio
/dev/msm_voicememo*	0660 system audio
/dev/msm_voice		0660 system audio
/dev/pmem_smipool	0660 system audio
/dev/cpu_dma_latency	0660 system system
/dev/es209ra_proximity  0660 system system
/dev/akm8973_aot        0664 compass system
/dev/semc_imx046_camera 0660 system camera
/dev/msm_camera/*       0660 system camera
/dev/msm_vidc_dec       0660 system audio
/dev/msm_vidc_enc       0660 system audio
/dev/msm_vidc_reg       0660 system audio
/dev/bma250             0640 compass system
/dev/oncrpc/30000000*	0660 radio radio
/dev/oncrpc/30000003*	0660 radio radio
/dev/oncrpc/3000000e*	0660 radio system
/dev/oncrpc/30000012*	0660 radio radio
/dev/oncrpc/30000016*	0660 radio radio
/dev/oncrpc/30000017*	0660 radio radio
/dev/oncrpc/30000019*	0660 radio radio
/dev/oncrpc/3000003c*	0660 radio radio
/dev/oncrpc/3000006b*	0660 radio system

